@model ResetPasswordModel

@{
    Layout = "_GuestLayout";

    ViewData["Title"] = "Login";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                @if (TempData["MessageSuccess"] is not null)
                {
                <p class="alert alert-danger">@TempData["MessageSuccess"]</p>
                }
                <form asp-controller="Login" asp-action="SendResetPasswordURL" method="post" class="w-100">
                    <div class="mb-3">
                        <label class="form-label">Login</label>
                        <input type="text" asp-for="Login" class="form-control" placeholder="Digite o seu login" />
                        <span class="text-danger">@Html.ValidationMessageFor(login => login.Login)</span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o seu email" />
                        <span class="text-danger">@Html.ValidationMessageFor(login => login.Email)</span>
                    </div>
                    <div class="mb-3 w-100 d-flex gap-3">
                        <button type="submit" class="btn btn-primary btn-block">Redefinir a senha</button>
                        <button asp-controller="Login" asp-action="Index" class="btn btn-secondary btn-block">Voltar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
